<%- include('./partials/navbar')  %>
<main>
  <div class="container ">
    <div class="card text-center mt-5 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
      <div class="card-body ">
        <h2 class="card-title">Download the movie</h2>
        <div class="row ">
          <a href="/download"><button class="btn btn-outline-primary">Download Movie</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <a href="/movie"><button class="btn btn-sm btn-outline-dark">movie</button></a>
    <a href="/watch"><button class="btn btn-sm btn-outline-dark">watch</button></a>
  </div>
</main>

<%- include('./partials/footer')  %>