<%- include('./partials/navbar')  %>
<main>
  <div class="container ">
    <div class="col-md-12 justify-content-center">
      <div class="card text-center mt-5 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body ">
          <h3 class="card-title">Welcome to Download and Watching Movies🙋‍♂️</h3>
          <div class="row ">
            <div class="col-md-6 my-3"><a href="/watch"><button class="btn btn-outline-primary">Watch Movie</button></a></div>
            <div class="col-md-6  my-3"><a href="/movie"><button class="btn btn-outline-info">Download</button></a></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer')  %>